{% extends '../common/base.html' %}
{% load static %}
{% block title %}Об авторе{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}
    <div class="main__header">
        <h1 class="main__title">Об авторе</h1>
    </div>
    <div class="custom-center-block">
            <p class="custom-text-block">Меня зовут Кузьмин Артур и я и слишком сильно затянул с проектом, чтобы расписывать эту страницу</p>
        <div class="custom-button-block">
            <a href="{% url 'index' %}" class="button button_style_blue">Перейти на главную</a>
        </div>
    </div>
{% endblock %}