{% extends '../common/base.html' %}
{% load static %}
{% block title %}Сброс пароля{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}
{% load user_filters %}
<div class="main__header">
    <h1 class="main__title">Сброс пароля</h1>
</div>
<div class="form-container">
    <form class="form" method="post" action="{% url 'password_reset' %}">
        {% csrf_token %}
        <p class="form__info-text">
            Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались.
        </p>
        <div class="form__group">
            <label for="{{ form.email.id_for_lable }}" class="form__label">{{ form.email.label }}</label>
            <div class="form__field-group">
                {{ form.email|addclass:"form__input" }}
                {% if form.errors %}
                    <span class="form__error">{{ form.errors }}</span>
                {% endif %}
            </div>
        </div>
        <div class="form__footer">
           <button class="button button_style_blue">Сбросить пароль</button>
        </div>
      </form>
</div>
{% endblock %}
